fastapi
uvicorn
langchain
mistralai
tavily-python

requests
beautifulsoup4
lxml

pydantic
python-dotenv

pandas
numpy

loguru

tenacity

#pypdf

#chromadb
#sentence-transformers
langchain==1.3.11
langgraph==1.2.6
langchain-mistralai==1.1.5
langchain-tavily==0.2.18
playwright
langchain-openai
langchain-google-genai
langchain-groq
rich